auto-save*
eln*
undo/
backups/
emacs/eshell/history
kanata_winIOv2.exe
kanata_winIOv2.exe.lnk
emacs/eln-cache/29.4-631e5fd8
emacs/elpa
emacs/eln-cache/29.4-631e5fd8
emacs/elpa
emacs/transient
*.~undo-tree~
emacs/elpaca
emacs/recentf
emacs/tramp
emacs/emacs-config.org~
emacs/.lsp-session-v1
emacs/.cache/svg-lib
emacs/projects
fcitx/dbus/0c42dd0befed41fcb353b3f4516f1c8d-0
fcitx5/profile
emacs/.emacs.desktop
emacs/.emacs.desktop.lock
emacs/hyeondobin@VanLioum-Desktop.4866
emacs/hyeondobin@VanLioum-Desktop.4866:1741108900
kanata/kanata_link.lnk
kanata/Interception
