[submodule "Configs/emacs/.emacs.d"]
	path = Configs/emacs/.emacs.d
	url = git@github.com:hyeondobin/emacs
[submodule "Configs/nvim/.config/nvim"]
	path = Configs/nvim/.config/nvim
	url = git@github.com:hyeondobin/nvim
